#fakeconsole {
    background-color: rgb(255, 183, 0);
    display: flex;
    margin-top: 3vh;
    width: 30%;
    height: 30vh;
    right: 0;
    left: 0;
    transform: translateX(35vw);
    overflow: scroll;
}
#fakeconsole_output {
    color: white;
    text-align: left;
    font-size: 1.5vh;
    height: 100%;
    margin: 0;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ea9606f1; 
    opacity: 0;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
